.wrap{
    min-height: 100%;
    overflow: hidden;
}
.falcon-wrap{
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
}
.falcon-card{
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid;
    column-gap: 10px;
    padding: 10px;
}